@{
    Layout = null;
}

@model IEnumerable<EasyAccomod.Models.AccountModel>


<style>
    
    .user-info p {
        margin-bottom:0;
    }
</style>
<h5 class="my-4">Phê duyệt tài khoản</h5>

@if (Model != null)
{
    foreach (var item in Model.Where(x => x.ApprovalTime.Year == 1))
    {
        <div class="container">
            <div class=" rounded border mb-4 p-2">
                <span style="display: inline-block;"><b>@item.Username</b></span>
                <div class="user-info ml-5">
                    <p>Họ và tên: @item.FullName</p>
                    <p>Số điện thoại: @item.Phone</p>
                    <p>Email: @item.Email</p>
                    <p>CCCD: @item.IdCard</p>
            
                </div>

                <div class="confirm-bar text-right">
                    <div class="btn btn-primary approve-account-button" data-id="@item.Id" data-active="true">Phê duyệt</div>
                    <div class="btn btn-secondary ml-3 refuse-account-button" data-id="@item.Id" data-active="true">Từ chối</div>
                </div>
            </div>
        </div>
    }
}





<script>
    $("#approve-account-container").delegate(".approve-account-button", "click", function (e) {
        if ($(e.target).attr("data-active") != "true") return;
        $(e.target).attr("data-active", "false");
        $.ajax({
            url: "/AdminManager/ApproveAccount",
            type: "POST",
            data: { id: $(e.target).attr("data-id") },
            success: function (data) {
                if (data == "Success") {
                    alert("Succcess");
                    return;
                }

                console.log(data);
                $(e.target).attr("data-active", "true");
            }
        });
    });
    $("#approve-account-container").delegate(".refuse-account-button", "click", function (e) {
        if ($(e.target).attr("data-active") != "true") return;
        $(e.target).attr("data-active", "false");
        $.ajax({
            url: "/AdminManager/RefuseAccount",
            type: "POST",
            data: { id: $(e.target).attr("data-id") },
            success: function (data) {
                if (data == "Success") {
                    alert("Succcess");
                    return;
                }

                console.log(data);
                $(e.target).attr("data-active", "true");
            }
        });
    });
</script>