@{ 
    Layout = null;
} 

@model IEnumerable<EasyAccomod.Models.TicketModel>

<link href="~/Content/ApprovePost.css" rel="stylesheet" />
        
       
           
                <h5 class="my-4">Danh sách bài đăng đã duyệt</h5>
                @foreach (var item in Model)
                {
                    <div class="container">
                        <div class=" rounded border mb-4 p-2" >
                            <div class="post-wrapper row px-3">
                                @if (item == null || item.Post == null || item.Post.Images == null || item.Post.Images.Count == 0)
                                {
                                    <div class="post-image-thumb"></div>
                                }
                                else
                                {
                                    <div class="post-image-thumb" style="background: url('/UploadImage/@item.Post.Images.First().Path'); background-size: 100% 100%"></div>
                                }
                                <div class="post-info col-12 col-lg-9">
                                    <div class="post-top-part">
                                        <span class="post-title">@item.Post.Title</span>
                                        <span class="post-address">@item.Post.Address - @item.Post.Ward.WardName - @item.Post.District.DistrictName - @item.Post.City.CityName</span>
                                        @{
                                            string area = item.Post.Area + "m2";
                                        }
                                        <span class="post-area">@area</span>
                                        <span class="post-price">@item.Post.DisplayPrice()</span>
                                    </div>
                                    <span class="post-user">@item.Post.Poster.FullName</span>
                                    <span class="post-datetime">@item.CreateTime</span>


                                </div>
                            </div>
                        
                            <div class="confirm-bar text-right">
                                <div style="float: left; font-size: 16px; color: green">
                                    @if (item.Post.Approved == 0)
                                    {
                                        <span><i>Bài đăng mới</i></span>
                                    }
                                    @if (item.Post.Approved == 1)
                                    {
                                        <span><i>Gia hạn bài đăng</i></span>
                                    }
                                    <span> - Thời gian hiển thị: @item.GetTime()</span>
                                </div>
                                <div class="btn btn-primary approve-post-button" data-id="@item.Id" data-active="true">Phê duyệt</div>
                                <div class="btn btn-secondary ml-3 refuse-post-button" data-id="@item.Id" data-active="true">Từ chối</div>
                            </div>
                        </div>  
                    </div>
                }

               
            
          
               
                
                
         
            
        
<script>
    $(".approve-post-button").click(function (e) {
        if ($(e.target).attr("data-active") != "true") return;
        $(e.target).attr("data-active", "false");
        $.ajax({
            url: "/AdminManager/ApprovePost",
            type: 'POST',
            data: { id: $(e.target).attr("data-id") },
            success: function (data) {
                if (data == "Success") {
                    alert("Success");
                    return;
                }
                $(e.target).attr("data-active", "true");
                console.log(data);
            }
        })
    })
    $(".refuse-post-button").click(function (e) {
        if ($(e.target).attr("data-active") != "true") return;
        $(e.target).attr("data-active", "false");
        $.ajax({
            url: "/AdminManager/RefusePost",
            type: 'POST',
            data: { id: $(e.target).attr("data-id") },
            success: function (data) {
                if (data == "Success") {
                    alert("Success");
                    return;
                }
                $(e.target).attr("data-active", "true");
                console.log(data);
            }
        })
    })
</script>