@model IEnumerable<EasyAccomod.Models.AccountModel>


<style>

    .user-info p {
        margin-bottom: 0;
    }
</style>
<div id="approved-account-container">
<h5 class="my-4">Tài khoản chủ trọ đã phê duyệt</h5>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="container account-card">
            <div class=" rounded border mb-4 p-2">
                <span style="display: inline-block;"><b>@item.Username</b></span>
                <div class="user-info ml-5">
                    <p>Họ và tên: @item.FullName</p>
                    <p>Số điện thoại: @item.Phone</p>
                    <p>Email: @item.Email</p>
                    <p>CCCD: @item.IdCard</p>
                </div>
                <div class="confirm-bar" style="text-align: right; padding-top: 10px;">
                    <div style="float: left; text-align: left">
                        <span>Người phê duyệt: @item.Approver.FullName</span> <br />
                        <span>Thời gian phê duyệt: @item.ApprovalTime</span>
                    </div>
                    @if (!item.EditRole)
                    {
                        <button class="btn btn-primary authorize-account-button" data-accountid="@item.Id">Cấp quyền chỉnh sửa</button>
                    }
                    else
                    {
                        <button class="btn btn-primary unauthorize-account-button" data-accountid="@item.Id">Thu hồi quyề chỉnh sửa</button>
                    }
                </div>
                <div class="err-container" style="color: red">

                </div>
            </div>
        </div>
    }
}
</div>


<script>
    $("#approved-account-container").delegate(".authorize-account-button", "click", function (e) {
        if ($(e.target).prop("disabled")) return;
        $(e.target).prop("disabled", true);
        $.ajax({
            url: "/AdminManager/AuthorizeAccount",
            type: "POST",
            data: { id: $(e.target).attr("data-accountid") },
            success: function (data) {
                if (data == "Success") {
                    $(e.target)[0].innerText = "Thu hồi quyền chỉnh sửa";
                    $(e.target).removeClass("authorize-account-button");
                    $(e.target).addClass("unauthorize-account-button");
                    $(e.target).prop("disabled", false);
                    ShowActionSuccessPopup("Cấp quyền chỉnh sửa cho tài khoản thành công!");
                    return;
                }
                $(e.target).parents(".account-card").find(".err-container")[0].innerHTML = data;
                $(e.target).prop("disabled", false);
            }
        });
    });

    $("#approved-account-container").delegate(".unauthorize-account-button", "click", function (e) {
        if ($(e.target).prop("disabled")) return;
        $(e.target).prop("disabled", true);
        $.ajax({
            url: "/AdminManager/UnauthorizeAccount",
            type: "POST",
            data: { id: $(e.target).attr("data-accountid") },
            success: function (data) {
                if (data == "Success") {
                    $(e.target)[0].innerText = "Cấp quyền chỉnh sửa";
                    $(e.target).removeClass("unauthorize-account-button");
                    $(e.target).addClass("authorize-account-button");
                    $(e.target).prop("disabled", false);
                    return;
                }
                $(e.target).parents(".account-card").find(".err-container")[0].innerHTML = data;
                $(e.target).prop("disabled", false);
            }
        });
    });
</script>