
@model IEnumerable<EasyAccomod.Models.PostModel>

<link href="~/Content/ApprovePost.css" rel="stylesheet" />
<h5 class="my-4">Bài đăng đã từ chối</h5>

@foreach (var item in Model)
{
    <!--One card-->
    <div class="container post-card">
        <div class=" rounded border mb-4 p-2">
            <div class="post-wrapper row px-3">
                <div class="post-image-thumb"></div>
                <div class="post-info col-12 col-lg-9">
                    <div class="post-top-part">
                        <span class="post-title">@item.Title</span>
                        <span class="post-address">@item.Address - @item.Ward.WardName - @item.District.DistrictName - @item.City.CityName</span>
                        @{
                            string area = item.Area + "m2";
                        }
                        <span class="post-area">@area</span>
                        <span class="post-price">@item.DisplayPrice()</span>
                    </div>
                    <span class="post-user">@item.Poster.FullName</span>
                    <span class="post-datetime">@item.CreateTime</span>


                </div>
            </div>

            <div class="confirm-bar text-right">
                @if (item.ApprovalTicket != null)
                {
                    <span>Người từ chối: </span>
                    <span>@item.ApprovalTicket.Approver.FullName</span>
                    <span> - @item.ApprovalTicket.ApprovalTime</span><br />
                }
                <div class="btn btn-primary text-right mt-2 undo-post-button" data-postid="@item.Id">Hoàn tác</div>

            </div>
            <div class="err-container" style="text-align: left; color: red"></div>
        </div>
    </div>

    <!--End card-->
}

<script>
    $(".undo-post-button").click(function (e) {
        if ($(e.target).prop("disabled")) return;
        $(e.target).prop("disabled", true);
        $.ajax({
            url: "/AdminManager/UndoPost",
            type: 'POST',
            data: { id: $(e.target).attr("data-postid") },
            success: function (data) {
                if (data == "Success") {
                    $(e.target).parents(".post-card").remove();
                    return;
                }
                $(e.target).prop("disabled", false);
                $(e.target).parents(".post-card").find(".err-container")[0].innerHTML = data;
            }
        })
    })
</script>