@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}
@model EasyAccomod.Models.SignInModel

<h4 class="font-weight-bold text-center">Đăng nhập</h4>
<div id="login-form-container" class="container pt-3">
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.username)
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.username, null, new { @class = "err-msg" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password)
            @Html.TextBoxFor(m => m.password, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(m => m.password, null, new { @class = "err-msg" })
        </div>
        <div class="form-group">
            <input type="checkbox"><span class="pl-1">Hiện mật khẩu</span>
        </div>
        <div class="container text-center">
            <span class="err-msg"></span>
            <button type="submit" id="submit-btn" value="submit" name="submit" class="btn btn-primary ">Đăng nhập</button>
        </div>
        <div class="form-group mt-3">
            <span id="forgot-password">
                <a class="text-decoration-none" href="/">Quên mật khẩu?</a>
            </span>
        </div>

    }
    <div id="guess-sign-up" class="container pt-2">
        <div id="message" class="text-center text-danger">
            <span class="field-validation-valid err-msg" data-valmsg-for="err-msg"></span>
        </div>
        <div class="text-center">
            <span>Chưa có tài khoản? </span><span id="link-to-sign-up">
                <a class="text-decoration-none" href="/Account/SignUp">Đăng ký ngay</a>
            </span>
        </div>
    </div>
</div>