@{
//Layout = "~/Views/Account/_LayoutAccount.cshtml";
}
@model EasyAccomod.Models.SignInModel

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="page-container container-fluid w-100 vh-100 modal-content" style="overflow: hidden; border: none; background: none">
    <div class="form-container container mx-auto  bg-light mt-5 px-0 px-lg-5 rounded py-3" style="max-height: 80%; overflow: auto">
        <div style="overflow: hidden">
            <div id="account-header" class="container">
                <h4 class="font-weight-bold text-center">Đăng nhập</h4>
                <div id="login-form-container" class="container pt-3">
                    @using (Ajax.BeginForm("SignIn", "Account", new AjaxOptions { UpdateTargetId = "signin-form-err-msg", OnBegin="onSignIn()", OnFailure="failed()", OnComplete="failed()" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.username)
                            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(m => m.username, null, new { @class = "err-msg" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.password)
                            @Html.PasswordFor(m => m.password, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(m => m.password, null, new { @class = "err-msg" })
                        </div>
                        <div class="form-group">
                            <input class="show-password" type="checkbox"><span class="pl-1">Hiện mật khẩu</span>
                        </div>
                        <div class="container text-center">
                            @Html.ValidationMessage("err-msg", new { @class = "err-msg" })
                            <br />
                            <button type="submit" id="signin-btn" value="submit" name="submit" class="btn btn-primary ">Đăng nhập</button>
                        </div>
                        <div class="form-group mt-3">
                            <span id="forgot-password">
                                <a class="text-decoration-none" href="/">Quên mật khẩu?</a>
                            </span>
                        </div>

                    }
                    <div id="guess-sign-up" class="container pt-2">
                        <div id="message" class="text-center text-danger">
                            <span id="signin-form-err-msg" class="field-validation-valid err-msg" data-valmsg-for="err-msg"></span>
                        </div>
                        <div class="text-center">
                            <span>Chưa có tài khoản? </span><span id="link-to-sign-up">
                                <a class="text-decoration-none" href="/Account/SignUp">Đăng ký ngay</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(".show-password").change(function (e) {
        if ($(e.target).prop("checked")) {
            $("#password").prop("type", "");
        }
        else {
            $("#password").prop("type", "password");
        }
    })

    function onSignIn() {
        $("#signin-btn").prop("disabled", true);
        $("#username").prop("disabled", true);
        $("#password").prop("disabled", true);
    }

    function failed() {
        $("#signin-btn").prop("disabled", false);
        $("#username").prop("disabled", false);
        $("#password").prop("disabled", false);
    }
</script>
