@model EasyAccomod.Models.AccountModel
@{
    ViewBag.Title = "Trang cá nhân - " + Model.FullName;
}

<style>

    .homepage-container {
        width: 75%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }


    .host-info {
        display: block;
    }



    .host-name {
        font-weight: 600;
        cursor: pointer;
    }
</style>
<link href="~/Content/PostList.css" rel="stylesheet" />
<div class="homepage-container container rounded border mx-auto my-5 row" style="min-height: 500px;">



    <div class="host-info col-12 col-lg-4 order-1 order-lg-3" style="position: relative;">
        <div id="host-name-sticky" class="container mt-3 rounded border py-3" style="position: sticky; top: 20px;">
            <div class="row">
                <div class="col-3 text-center"><i class="fa fa-user" style="font-size: 20px;"></i></div>
                <div class="col-9"><span class="host-name">@Model.FullName</span></div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <span><i class="fa fa-phone"></i> @Model.Phone</span>
                </div>
                <div class="col-12">
                    <span>
                        <i class="fa fa-envelope"></i>
                        @{ string sendMail = "mailto:" + Model.Email; }
                        <a class="text-decoration-none text-dark" href="@sendMail"> @Model.Email</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-post col-12 col-lg-8 order-2">
        <h5>Bài đăng của @Model.FullName:</h5>
        @foreach (var item in Model.Posts)
        {
            <div class="post-wrapper">
                @if (item == null || item.Images == null || item.Images.Count == 0)
                {
                    <div class="post-image-thumb"></div>
                }
                else
                {
                    <div class="post-image-thumb" style="background: url('/UploadImage/@item.Images.First().Path'); background-size: 100% 100%"></div>
                }
                <div class="post-info">
                    <div class="post-top-part">
                        <span class="post-title"> <a href="/Post/PostDetail/@item.Id">@item.Title</a></span>
                        @{ string area = item.Area + "m2"; }
                        <span class="post-area">@area</span>
                        @{
                            string price = "";
                            if (item.Price < 0 || item.PriceUnit == 0)
                            {
                                price = "Liên hệ";
                                return;
                            }

                            price = price + item.Price;
                            if (item.PriceUnit == 1) { price = price + "/tháng"; }
                            if (item.PriceUnit == 2) { price = price + "/năm"; }
                        }
                        <span class="post-price">@price</span>
                    </div>
                    <span class="post-user">@item.Poster.FullName</span>
                    <span class="post-datetime">@item.CreateTime.ToString() </span>

                    <i class="far fa-star text-warning"></i>
                    <span class="post-rating">7.5</span>
                    <i class="far fa-heart text-danger"></i>
                </div>
            </div>
        }
    </div>
</div>
<hr>