@model EasyAccomod.Models.ChangePasswordModel

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<!--Đổi mật khẩu-->
@using (Ajax.BeginForm("ChangePassword", "EditInfo", new AjaxOptions { UpdateTargetId = "change-password-result"}))
{
    <div class="row mt-4">
        @Html.LabelFor(x => x.OldPassword, new { @class = "col-4" })
        @Html.PasswordFor(x => x.OldPassword, new { @class = "col-7 col-sm-6" })
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        @Html.LabelFor(x => x.NewPassword, new { @class = "col-4" })
        @Html.PasswordFor(x => x.NewPassword, new { @class = "col-7 col-sm-6" })
        @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        @Html.LabelFor(x => x.RetypeNewPassword, new { @class = "col-4" })
        @Html.PasswordFor(x => x.RetypeNewPassword, new { @class = "col-7 col-sm-6" })
        @Html.ValidationMessageFor(x => x.RetypeNewPassword, null, new { @class = "err-msg" })
    </div>
    <div class="row">
        <div class="col-12">
            <input type="checkbox" id="show-password">
            <label for="show-password">Hiện mật khẩu</label>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">

        <button class="btn btn-primary">Đổi mật khẩu</button>
        <span id="change-password-result" class="col-12 text-center text-success mt-3">
            <!-- Kết quả-->
        </span>


    </div>
    <div class="row justify-content-center">

    </div>
}

<!--Đổi mật khẩu-->