@model EasyAccomod.Models.UserInformationModel
<script src="~/Scripts/address.control.js"></script>

@using (Ajax.BeginForm("UserInformation", "EditInfo", new AjaxOptions { UpdateTargetId = "user-information-edit-err-msg" }))
{
    <!--Thoong tin cá nhân-->

    <div class="row mt-4">
        <label for="full-name" class="col-4">Họ và tên</label>
        @if (Model.EditRole)
        {
            <input type="text" id="full-name" name="Fullname" class="col-6" value="@Model.Fullname">
        }
        else
        {
            <input type="text" id="full-name" name="Fullname" class="col-6" value="@Model.Fullname" disabled />
        }
        @Html.ValidationMessageFor(m => m.Fullname, null, new { @class = "err-msg" })
    </div>
    <span class="msg text-danger">
        <!----họ tên sai-->
    </span>
    <div class="row mt-4">
        <label for="phone-number" class="col-4">Số điện thoại</label>
        @if (Model.EditRole)
        {
            <input type="text" id="phone-number" name="Phone" class="col-6" value="@Model.Phone">
        }
        else
        {
            <input type="text" id="phone-number" name="Phone" class="col-6" value="@Model.Phone" disabled>
        }
        @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "err-msg" })
    </div>
    <span class="msg text-danger">
        <!---sdt ko hợp lệ-->
    </span>
    <div class="row mt-4">
        <label for="email" class="col-4">Email</label>
        @if (Model.EditRole)
        {
            <input type="text" id="email" name="Email" class="col-6" value="@Model.Email">
        }
        else
        {
            <input type="text" id="email" name="Email" class="col-6" value="@Model.Email" disabled>
        }
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        <label class="col-4">Số CMT</label>
        @if (Model.EditRole)
        {
            <input type="text" class="col-6" name="IdCard" value="@Model.IdCard" />
        }
        else
        {
            <input type="text" class="col-6" name="IdCard" value="@Model.IdCard" disabled />
        }
        @Html.ValidationMessageFor(m => m.IdCard, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        <label class="col-4">Tỉnh/Thành phố</label>
        <select class="col-6 city-filter" name="CityId">
            <option value="0">Chọn Tình/Thành Phố</option>
        </select>
        @Html.ValidationMessageFor(m => m.CityId, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        <label class="col-4">Quận/Huyện</label>
        <select class="col-6 district-filter" name="DistrictId">
            <option value="0">Chọn Quận/Huyện</option>
        </select>
        @Html.ValidationMessageFor(m => m.DistrictId, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        <label class="col-4">Xã Phường</label>
        <select class="col-6 ward-filter" name="WardId">
            <option value="0">Chọn Xã/Phường</option>
        </select>
        @Html.ValidationMessageFor(m => m.WardId, null, new { @class = "err-msg" })
    </div>
    <div class="row mt-4">
        <label class="col-4">Địa chỉ</label>
        @if (Model.EditRole)
        {
            <input type="text" class="col-6" name="Address" value="@Model.Address" />
        }
        else
        {
            <input type="text" class="col-6" name="Address" value="@Model.Address" disabled />
        }
        @Html.ValidationMessageFor(m => m.Address, null, new { @class = "err-msg" })
    </div>
    <span class="msg text-danger">
        <!--email sai-->
    </span>
    <div class="row mt-5 justify-content-center">
        @if (Model.EditRole)
        {
            <button class="btn btn-primary">Cập nhật</button>
        }
        else
        {
            <span>Bạn không được cấp quyền để chỉnh sửa thông tin cá nhân</span> <br />
            <span>Liên hệ admin để được cấp quyền chỉnh sửa thông tin cá nhân</span>
        }
        <span id="user-information-edit-err-msg" class="col-12 text-center text-success mt-3">
        </span>
    </div>
}

@if (!Model.EditRole)
{
    <script>
        loadCity().then(function () { return selectCity(@Model.CityId); })
            .then(function () { return selectDistrict(@Model.DistrictId); })
            .then(function () { return selectWard(@Model.WardId) })
            .then(function () {
                $(".city-filter").prop("disabled", true);
                $(".district-filter").prop("disabled", true);
                $(".ward-filter").prop("disabled", true);
            });
    </script>
}
<script>
    $(document).ready(function () {
        loadCity().then(function () { return selectCity(@Model.CityId); })
            .then(function () { return selectDistrict(@Model.DistrictId); })
            .then(function () { return selectWard(@Model.WardId) });
    });
</script>

<!--Thoong tin cá nhân-->